@import '../../scss/variables.scss';

.pagination_block {
    margin-bottom: 97px;

    >ul {
        display: flex;
        padding: 0;
        >li {
            position: relative;
            width: 41px;
            height: 41px;
            text-align: center;
            align-items: center;
            list-style-type: none;
            background: var(#{--components-background-default});
            border: var(#{--components-border-default});
            &:first-child {
                border-radius: 10px 0 0 10px;
            }
            &:last-child {
                border-radius: 0 10px 10px 0;
            }
            &:hover {
                background: var(#{ --pagination-hover-default});
            }
            >a {
                position: absolute;
                left: 14%;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                text-decoration: none;
                color: var(#{--text-color-default});
                padding: 10px;
                &:hover {
                    color: var(#{--text-color-default});
                }
            }
        }
    }
}